* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  /*welcome page*/
  .welcome-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/public/images/inventory.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
  }

  .welcome-container h1{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .welcome-container p{
    margin-top: 10px;
    font-size: 20px;
    color: red;

  }

  .admin-button{
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    margin: 20px 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgb(197, 146, 255);
    background:transparent;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .admin-button:hover{
    background-color: rgb(197, 146, 255);
    border: 2px solid rgb(197, 146, 255);
    color: #2e003f;
  }

  button{
    color: #4a4a8a;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }

  button i{
    background: #8080e3;
    color: white;
    padding: 5px;
    border-radius: 50%;
  }

  button:hover i{
    color: white;
    background: #4a4a8a;
    border-radius: 50%;
  }

  .dashboard-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .sidebar {
    background-color: #674a9e;
    width: 270px;
    height: 100vh;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 24px;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin-bottom: 5px;
    display: flex;
  }
  .sidebar img{
    width: 60px;
    height: 60px;
    margin-right: 8px;
    border-radius: 100%;

  }
  
  .sidebar ul {
    list-style: none;
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    
  }

.sidebar ul li {
    padding: 1rem; 
    margin: 8px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}
  
  .sidebar ul li:hover {
    background-color: rgba(255, 255, 255, 0.2); 
  }
  
  .sidebar ul li a {
    color: white; 
    font-size: 1.1rem;
    text-decoration: none; 
    margin-left: 10px; 
    flex-grow: 1; 
  }
  
   .main-content {
    position: relative;
    margin-left: 270px;
    width: 100%;
    padding: 1rem;
    flex: 1;
    overflow-y: auto;
  }

  .header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background: white; 
    border-radius: 8px;
    padding: 1rem; 
    margin-bottom: 1rem; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .header .greeting {
    font-size: 18px; 
    margin-bottom: 5px; 
    color: #674a9e;
  }
  
  .header .title-container {
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
  }

  .header .title-container h2 {
    margin: 0;
    font-size: 25px;
    text-align: left; 
  }
  
  .dashboard-widgets {
    background: white;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .widget-container{
    display: flex; 
    gap: 20px; 
  }
  .title{
    color: #6868a9;
    padding-bottom: 10px;
    font-size: 15px;
  }
  
  .widget {
    background-color: #fff;
    margin-top: 10px;
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 290px;
    height: 180px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    min-width: 300px;
  }

  .widget-content{
    display: flex;
    align-items: center;
  }

  .widget-content i{
    font-size: 40px; 
    color: white; 
    margin-left: auto; 
    width: 70px;
    height: 70px;
    padding: 13px;
    padding-right: 30px;
    border-radius: 50%;
    justify-content: center;
    background-color: #155724;
  }
  
  .widget h3 {
    color: #28282c;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .widget p {
    font-size: 16px;
    color: black;
  }

  /* form styles */
form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  form input,
  form select,
  form button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    align-items: center;
  }
  
  form button {
    background-color: #4a4a8a;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #35356b;
  }

  .search-form {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .search-form input {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
  }

  .search-form input:focus {
    border-color: #5f5fc4;
    box-shadow: 0 0 5px rgba(95, 95, 196, 0.5);
  }
  
  .search-form button {
    padding: 8px 16px;
    background-color: #5f5fc4;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-form button:hover {
    background-color: #35356b;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #674a9e;
    text-align: center;
  }

  .container{
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  .validate, p{
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
  }
  
  .error {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  
  /*table styles*/
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  table thead {
    background-color:#674a9e;
    color: #fff;
  }
  
  table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  table tbody tr:hover {
    background-color: #f1f1f1;
  }

  .controls {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 1rem;
  }
  
  .option {
    border-radius: 5px;
    background: rgb(249, 250, 250);
    border: 1px solid rgb(181, 189, 196);
    font-size: 14px;
    line-height: 24px;
    padding: 10px 20px;
    color: rgb(8, 9, 10);
    box-shadow: none;
    margin-right: 10px; 
  }

  .sort-button-container {
    flex-grow: 1; 
    display: flex;
    justify-content: flex-end; 
  }
  
  .sort-button {
    background-color: #5f5fc4;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .sort-button:hover{
    background-color: #35356b;
  }
  
  